{% extends 'base.html' %}

{% block title %}
BERT
{% endblock %}

{% block main %}
<div class="row mt-3 justify-content-center">
    <h4><strong>BERT + KMeans</strong></h4>
</div>
<div id="main-screen" class="row mt-3" style="width: 90%; margin: auto;">
    <div id="input" class="col-md-6">
        <div class="row mt-3 justify-content-center">
            <h2><strong><u>INPUT</u></strong></h2>
        </div>
        <div class="row mt-3">
            <div class="col-md">
                <form id="form-id" method="POST">
                    <div class="row mt-3">
                        <div class="col-md-6 form-group">
                            <label>Ratio</label>
                            <input id="ratio" required name="ratio" type="number" step="0.01" placeholder="Enter ratio"
                                class="form-control" />
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Min length</label>
                            <input id="min_length" required name="min_length" type="number" min="30" max="60" step="1"
                                placeholder="Enter minimum length" class="form-control" />
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md form-group">
                            <label>Paragraph</label>
                            <textarea id="body" required name="body" type="text" rows="15" style="resize: none;"
                                placeholder="Enter your paragraph" class="form-control text-justify"></textarea>
                        </div>
                    </div>
                    <div class="row mt-3 justify-content-center">
                        <button id="submit-button" type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="output" class="col-md-6">
        <div class="row mt-3 justify-content-center">
            <h2><strong><u>OUTPUT</u></strong></h2>
        </div>
        <div class="row mt-3">
            <div class="col-md">
                <div class="row mt-3">
                    <div class="col-md form-group">
                        <label>Nhóm 6</label>
                        <input class="form-control" placeholder="Nhóm 6" readonly />
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md form-group">
                        <label>Summarized Paragraph</label>
                        <textarea id="summarized" readonly name="body" type="text" rows="15" style="resize: none;"
                            placeholder="Output here" class="form-control text-justify"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var form = document.getElementById('form-id');
    form.addEventListener('submit', getSummarizeResponse);
    function getSummarizeResponse(e) {
        e.preventDefault();
        //Remove element inner content
        let element = document.getElementById("summarized");
        element.innerHTML = '';
        let text = document.createTextNode("Processing");
        element.appendChild(text)
        //
        let data = buildBody();
        post(
            'http://localhost:5000/bert',
            data
        ).then(
            res => set_outout(res.summarized)
        ).catch(
            err => set_outout(null)
        )
    }
    function set_outout(summarized) {
        let element = document.getElementById("summarized");
        element.innerHTML = '';
        if (summarized === null) return;
        let text = document.createTextNode(summarized);
        element.appendChild(text);
    }
    async function post(url = '', data = {}) {
        const resp = await fetch(
            url,
            {
                method: 'POST',
                mode: 'cors',
                cache: 'no-cache',
                credentials: 'same-origin',
                headers: {
                    'Content-Type': 'application/json',
                },
                redirect: 'follow',
                referrerPolicy: 'no-referrer',
                body: JSON.stringify(data)
            }
        );
        return resp.json();
    }
    function buildBody() {
        let ratio = document.getElementById('ratio').value;
        let min_length = document.getElementById('min_length').value;
        let body = document.getElementById('body').value;
        let data = {
            "ratio": ratio,
            "min_length": min_length,
            "body": body
        };
        return data;
    }
</script>
{% endblock %}