<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" />
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <title>NLP Demo</title>
</head>

<body>
    <div class="container">
        <div id="info">
            <h1><strong>Nhóm X</strong>: Tóm tắt văn bản Tiếng Việt</h1>
        </div>
        <div id="input">
            <form id="form-id" method="POST" action="http://localhost:5000/summarize">
                <div class="row mt-4">
                    <div class="col form-group">
                        <label>Ratio</label>
                        <input id="ratio" required name="ratio" type="number" min="0.3" max="0.4" step="0.01"
                            placeholder="Enter ratio" class="form-control" />
                    </div>
                    <div class="col form-group">
                        <label>Min length</label>
                        <input id="min_length" required name="min_length" type="number" min="30" max="50" step="1"
                            placeholder="Enter minimum length" class="form-control" />
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col form-group">
                        <label>Paragraph</label>
                        <textarea id="body" required name="body" type="text" rows="30"
                            placeholder="Enter your paragraph" class="form-control text-justify"></textarea>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col form-group text-center">
                        <button type="submit" class="btn btn-secondary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        <div id="output">
            <div class="row mt-4">
                <div id="title" class="col form-group text-center">

                </div>
            </div>
            <div class="row mt-4">
                <div id="summarized" class="col form-group">
                </div>
            </div>
        </div>
    </div>

    <script>
        var form = document.getElementById('form-id');
        form.addEventListener('submit', getSummarizeResponse);
        function getSummarizeResponse(e) {
            e.preventDefault();
            let div1 = document.getElementById("title");
            div1.innerHTML = '';
            let div2 = document.getElementById("summarized");
            div2.innerHTML = '';
            let data = buildBody();
            post(
                'http://localhost:5000/summarize',
                data
            ).then(
                res => {
                    console.log(res.summarized);
                    //
                    let tag_p = document.createElement("p");
                    let text = document.createTextNode("Results");
                    tag_p.appendChild(text);
                    let tag_strong = document.createElement("strong");
                    tag_strong.appendChild(tag_p);
                    let element = document.getElementById("title");
                    element.appendChild(tag_strong);
                    //
                    let tag_textarea = document.createElement("textarea");
                    tag_textarea.setAttribute("readonly", "true");
                    tag_textarea.setAttribute("type", "text");
                    tag_textarea.setAttribute("rows", "10")
                    tag_textarea.setAttribute("class", "form-control text-justify");
                    let txt = document.createTextNode(res.summarized);
                    tag_textarea.appendChild(txt);
                    let elm = document.getElementById("summarized");
                    elm.appendChild(tag_textarea);
                }
            ).catch(
                err => alert(err)
            )
        }
        async function post(url = '', data = {}) {
            const resp = await fetch(
                url,
                {
                    method: 'POST',
                    mode: 'cors',
                    cache: 'no-cache',
                    credentials: 'same-origin',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    redirect: 'follow',
                    referrerPolicy: 'no-referrer',
                    body: JSON.stringify(data)
                }
            );
            return resp.json();
        }
        function buildBody() {
            let ratio = document.getElementById('ratio').value;
            let min_length = document.getElementById('min_length').value;
            let body = document.getElementById('body').value;
            let data = {
                "ratio": ratio,
                "min_length": min_length,
                "body": body
            };
            return data;
        }
    </script>
</body>

</html>